input {
  margin-bottom: 10px; /* Add some space between inputs */
}

.text-btn {
  color: #6d5fef;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.signup-button {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.login-button {
  position: absolute;
  top: 10px;
  right: 130px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.login-button:hover {
  background-color: #0056b3;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.update {
  margin-left: 48px;
  display: flex;
  margin-bottom: 10px;
  align-self: center;
}
.admin-text {
  margin-left: 20px;
  margin-bottom: -30px;
}

.align-right {
  align-self: flex-end;
}
.admin-title {
  margin-top: 10px;
  margin-bottom: 40px;
}
.edit-button {
  display: flex;
  background-color: #007bff;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 10px;
}

.edit-button:hover {
  background-color: #0056b3;
}

.info {
  width: 100%;
  margin-top: 40px;
  box-sizing: border-box;
  padding: 10px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 10px;
  color: #721c24;
  text-align: center;
}
.event-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}
.events-container {
  margin-top: 20px;
  width: 100%;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 10px;

  align-self: center;
}

.event-name {
  flex-grow: 1;
  margin-bottom: 10px;
  text-align: center;
}

.event-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.events-container-logged-in {
  margin-left: 0;
  margin-top: 50px;
  min-width: 150px;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  width: 60%;
  align-self: flex-start;
}

.user-container {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  padding: 20px;

  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  width: 30%;
}
.landing-page-logged-in {
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
}
.join-button {
  padding: 10px 20px;
  background-color: #17a2b8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.join-button:hover {
  background-color: #138496;
}

.signup-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
.signup-container-admin {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100vh;
}

.col-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding-top: 50px;
}

.admin-notification {
  margin-top: 10px;
  text-align: center;
  text-overflow: ellipsis;
}

.hidden {
  width: 100%;
  overflow: hidden;
  word-wrap: break-word;
}
.notification {
  margin-top: 10px;
  text-align: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup-form div {
  display: flex;
  flex-direction: column;
}

.signup-form label {
  width: 100%;
  margin-bottom: 5px;
}

.signup-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 25px;
  border-radius: 5px;
}

.signup-form button {
  padding: 10px;
  background-color: #6f66fd;
  width: 100%;
  margin: 5px;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #0056b3;
}

.admin-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
}
.event-creator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-left: 100px;
}

.event-creator div {
  display: flex;
  flex-direction: column;
}

.event-creator label {
  margin-bottom: 5px;
}

.event-creator input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.alert.alert-info.event-name {
  min-width: 110px;
}

.event-creator button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.event-creator button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .col-md-4,
  .col-md-8,
  .col-sm-6,
  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
